<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS</title>
    <link rel="stylesheet" href="/css/bulma.css">
  </head>
    <!-- Navbar -->
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item">
          <h1 class="is-size-4 has-text-weight-semibold">YOU BLOG</h1>
        </a>

      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item">Home</a>
        </div>

      </div>
    </nav>
</html>
